

<form onSubmit="return false" id="injection_form"  class="myform" >
        <div>
            {% csrf_token %}
            <!--table with two columns-->

            <div class="django-table injection-form-table">
                {% for field in injection_form.visible_fields %}
                   <div> {{ field.label }} </div>
                    <div> {{ field }} </div>
                {% endfor %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
            </div>
            <button id="injection_button">
                Inject
            </button>
        </div>
</form>
