include
lib
bin
lib64
*.csv
*.zip
#*.json
*.png
*.jpg
.git
.gitignore
.docker
# Python
app/__pycache__/
app/*/__pycache__/
app/*/*/__pycache__/
app/*/*/*/__pycache__/
.env/
.venv/
venv/
# Local PostgreSQL data
data/
