{% extends "base.html" %}
{% load static %}

{% block outerContent %}

    <style>
    .form-group {
        display : inline-block;
     }
    </style>


    <div style="position:relative">
        <div class="kt-portlet alg-selection" style="margin-top:70px">
            <h1>Dimensionality Reduction Visualization</h1>
        </div>

        {% block graphbuttons %}
            <div style="display:none">
            {% include "sub/norm_buttons.html" %}
            </div>
        {% endblock %}
        <div id="chart" class="col-md-12" style="position:relative;">
            <div id="load_chart" class="overlay full-height"></div>
            {% include 'sub/MainChart.html' %}
        </div>
    </div>
    <div id="alg-form" class="col-md-12" style="position:relative;">
        <div class="row alg-selection" style="padding-left:0px;padding-left:0px">
                <div class="form-group" id="alg-selection">
                    <label>Algorithm
{#                        <a tabindex="10" class="btn" role="button" data-toggle="kt-popover"#}
{#                                       data-placement="top"#}
{#                                       data-trigger="focus"#}
{#                                       data-content="Select the algorithm you want to use for repair"#}
{#                                       data-original-title="" title=""><i#}
{#                            class="mdi mdi-information-outline mdi-18px"></i></a>#}
                    </label>
                    <select class="form-control" name="algorithm" onchange="displayfunc(value)">
                        {% for key, _ in alg_forms.items %}
                            <option value={{ key }}> {{ key }}</option>
                        {% endfor %}
                    </select>
                </div>
                {% for key, form in alg_forms.items %}
                    {% include 'sub/form.html' with form=form form_id=key style="display:none;" button_label="RUN!" onclick="repair('"|add:key|add:"')" %}
                {% endfor %}

            </div>

        <script>
            let lastkey = null
            let displayfunc = function (key) {
                var x = document.getElementById(key);
                if (key !== lastkey && lastkey != null) {
                    document.getElementById(lastkey).style.display = "none";
                }
                if (x.style.display === "none") {
                    x.style.display = "block";

                    // get the button inside the element
                    var button = x.getElementsByTagName("button")[0];

                    x.style["margin-left"] = "10px";
                    x.style["transform"] = "translate(0, 1.2px)";
                    button.style["transform"] = "translate(0, -4.5px)";
                } else {
                    x.style.display = "none";
                }
                lastkey = key
            }
            displayfunc("RPCA")
        </script>
    </div>
    </div>

    <div class="row">
    <div class="col-md-12" style="position:relative;">
        <div class="viz-chart-info">
            <h2>Reduced Series update with IRLS Algorithm</h2>
            Difference of series is dependent on the K and delta. Larger values of K result into better
            distinguishable series.
        </div>
        <div id="classificationReductionChartContainer"></div>
        <div class="viz-chart-info">
            <h2>Detection of Anomalies</h2>
            Normalized absolute differences between the reduced series and the anomalous series to classify the
            anomalies.
        </div>
        <div id="thresholdChartContainer"></div>

        <div class="viz-chart-info">
            <h2>Repair of Timeseries</h2>
            Replacing the values above the threshold with the values of the iteratively reduced series. First the
            values classified as anomalies are linearly interpolated. Then the values are replaced with the
            iteratively reduced series.
        </div>
        <div id="RepairIterChartContainer"></div>


    </div>
    <div id="menu" class="col-md-3">
    </div>


    <script type="text/javascript">
        const dataTitle = '{{ data_info.title }}'
        {#const injection_url = "{% url 'inject_data' setname=setname %}"#}
        const repair_url = "{% url 'alg_inspection_repair' setname=setname %}"
        {#const store_url = "{% url 'store_data' setname=setname %}"#}
    </script>
    <script src="{% static 'js/dimensionality_reduction_viz.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/ReductionVizChart.js' %}" type="text/javascript"></script>

    {#          {% include 'sub/scoreBoard.html' %}#}

{% endblock %}

{##}
{#{% block additional_bottom_js %}#}
{##}
{#    <script src="{% static 'js/custom/form.extensions.js' %}" type="text/javascript"></script>#}
{#    <script src="{% static 'js/page/detection/nouislider-init.js' %}" type="text/javascript"></script>#}
{#    <script src="{% static 'js/page/detection/page.init.js' %}" type="text/javascript"></script>#}
{#    <script src="{% static 'js/page/detection/form.init.js' %}" type="text/javascript"></script>#}
{##}
{#    <script type="text/javascript">#}
{#        let injection_url = "{% url 'inject_data' setname=setname %}"#}
{#        let repair_url = "{% url 'alg_inspection_repair' setname=setname %}"#}
{#    </script>#}
{#    <script src="{% static 'js/injection.js' %}" type="text/javascript"></script>#}
{#    <script src="{% static 'js/dimensionality_reduction_viz.js' %}" type="text/javascript"></script>#}
{##}
{#{% endblock %}#}
