{% extends 'base.html' %}
{#{% load django_bootstrap_breadcrumbs %}#}


{##}
{#{% block page_title %}#}
{#<h3 class="kt-subheader__title">{{ Title }}</h3>#}
{#{% endblock %}#}

{% block content %}
    {{ block.super }}
    <div class="kt-portlet">
        <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
                <h3 class="kt-portlet__head-title">Validator for Anomaly Detection in Time Series</h3>
            </div>
        </div>
        <div class="kt-portlet__body">
            <p>
                {#            Vadetis is web application to perform, compare and validate various anomaly detection algorithms using different configurations. It allows users to upload their own datasets#}
                {#            as well as training data in order to perform outlier detection. The datasets can either be shared with other users or only be used by yourself.#}
                {#            The datasets can be altered by injecting additional outliers.#}
                {#            Look into the FAQ page for more information about the usage of this application.#}
                {{ Title }} is an online tool to Visualize The Repair of Anomaly Repair Techniques.
            </p>

{#            <h5>Features</h5>#}
            <div class="row">
                <div class="col-md-5">
                    <p><b>Main Parts:</b></p>
                    <ul>
                        <li>Display
                            <ul>
                                <li><a href="{% url 'display_datasets' option="Display" %}">Datasets</a></li>
                            </ul>
                        </li>
                        <li>Repair
                            <ul>
                                <li><a href="{% url 'display_datasets' option="Repair" %}">Repair Synthetic Datasets</a>
                                </li>
                                <li><a href="{% url 'display_datasets' %}">Inject Data and Repair</a></li>
                            </ul>
                        </li>
                        <li>Algorithm Analysis
                            <ul>
                                <li><a href="{% url 'repair_datasets' type='dimensionality_reduction' %}">Detailed
                                    Repair of Matrix
                                    decomposition Techniques</a></li>
                                <li><a href=" {% url 'optimization_datasets' %}">Display Parameter Search using Bayesian
                                    Optimization</a></li>
                            </ul>
                        </li>
                        <li>Recommendation
                            <ul>
                                <li><a href="">Real-World Datasets</a></li>
                                <li><a href="">Synthetic Datasets</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <p><b>Supported algorithms:</b></p>
                    <ul>
                        <li>Iterative Minimum Repairing (IMR) [VLDB 2017] </li>
                        <li>Stream Data Cleaning under Speed Constraints (SCREEN) [SIGMOD 2015] </li>
                        <li>CDrep (Repair based on the Centroid Decomposition)</li>
                        <li>RPCA (Robust PCA using Huber Loss Function)</li>
                    </ul>
                </div>
            </div>

            <p>This application was implemented at the at the <a href="http://exascale.info/" target="_blank">eXascale
                Infolab</a>, a research group at the <a href="http://www.unifr.ch/" target="_blank">University of
                Fribourg</a>, Switzerland.</p>

{#            <div id="Publications">#}
{#                <p>#}
{#                <h3>#}
{#                    <b>Publications:</b>#}
{#                </h3>#}
{#                <ol>#}
{#                    <li>Zhang, Aoqian, et al. <b>"Time series data cleaning: From anomaly detection to anomaly#}
{#                        repairing."</b> Proceedings of the VLDB Endowment 10.10 (2017): 1046-1057.#}
{#                    </li>#}
{#                    <li>Song, Shaoxu, et al. <b>"SCREEN: stream data cleaning under speed constraints."</b> Proceedings#}
{#                        of#}
{#                        the 2015 ACM SIGMOD International Conference on Management of Data. 2015.#}
{#                    </li>#}
{#                </ol>#}
{#            </div>#}
{#                        </p>#}
        </div>
    </div>
{% endblock %}
