{% extends "displayDataSetSynthetic.html" %}
{% load static %}

    {% block menu %}
     <style>  .full-height {
        height: 90vh;
    }

    .button-grid {
        display: grid;
        grid-template-columns: 150px 60px;

    }

    .bottom-button {
        position: fixed;
        bottom: 2%;
    }
    </style>

    <div id="injection-menu">
        {% block first_form %}
            <h2>Anomaly Injection</h2>
            Inject the dataset with anomalies
            {% include 'sub/form.html' with form=injection_form form_id="injection_form" onclick="inject()" %}

{#            {% include 'sub/storeForm.html' %}#}
            <div class="bottom-button">
                <div class="button-grid">

                    <div class="grid-item">

                        <button id="swap-repair" onclick="swap()" class="btn btn-default btn-sm swap-button"
                                style="display:none">Switch To Repair
                        </button>
                    </div>
                    <div class="grid-item">
                        <button id="clear-series" onclick="clearAllSeries();" class="btn btn-default btn-sm swap-button"
                                style="display:none">Clear
                        </button>
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
    </div>

    <div id="repair-menu"  style="display:none">
        <h2>Anomaly Repair</h2>
        Repair your custom Anomalies by selecting an algorithm.
        {% include 'sub/repairForm.html' %}
        {% include 'sub/scoreBoard.html' %}
        <div class="bottom-button">

            <button id="swap-injection" onclick="swap()" class="btn btn-default swap-button">Switch To Injection
            </button>
        </div>
    </div>
    <div class="col-md-3">
        <!--  button to switch beteen repair-menu and repair-menu -->
    </div>
    {% endblock %}

 {% block js %}
    <script type="text/javascript">
        let injection_url = "{% url 'inject_data' setname=setname %}"
        let repair_url = "{% url 'repair_data' setname=setname %}"
        let store_url = "{% url 'store_data' setname=setname %}"

        let swap = function () {
            let injection_menu = document.getElementById("injection-menu");
            let repair_menu = document.getElementById("repair-menu");
            console.log(repair_menu)
            if (injection_menu.style.display === "none") {
                injection_menu.style.display = "block";
                repair_menu.style.display = "none";
            } else {
                injection_menu.style.display = "none";
                repair_menu.style.display = "block";
            }
        }
        // ad event listener to injection button to display the repair menu
        let injection_form = document.getElementById("injection_form");
        injection_form.addEventListener("click", () => {
            document.getElementById("swap-repair").style.display = "block";
            document.getElementById("clear-series").style.display = "block";
        })

        let clear_button = document.getElementById("clear-series");
        clear_button.addEventListener("click", () => {
            document.getElementById("swap-repair").style.display = "none";
            document.getElementById("clear-series").style.display = "none";
        })

    </script>
    <script src="{% static 'js/injection.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/repair.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/store.js' %}" type="text/javascript"></script>
    {% endblock %}
