{% load static %}


<h2>{{ data_info.title }}</h2>
{#    <a href="{{ data_info.ref_url }}"> {{ data_info.url_text }}</a>#}
<p>{{ data_info.description }}</p>
<p>Number of Values: {{ data_info.values }}</p>
<p>Number of Time Series: {{ data_info.ts_nbr }}</p>
<!-- pretty table displaying anomaly rates per time series -->

{% if data_info.original_data_set is  not None %}
    Original Dataset:
    <a href="{% url 'display_dataset' setname=data_info.original_data_set %}">{{ data_info.original_data_set }}
    </a>
{% endif %}
