{% extends "recommendation/recommendation.html" %}
{% load static %}




{% block recommendation_computation %}

    <script>
   $(document).ready(function () {
        let start_url = "{% url 'start_raytunes' %}"
        let retrieve_url = "{%  url 'retrieve_recommendation_results' %}"
        recommendationHandler.init("RayTunes", start_url, retrieve_url)
    })
    </script>

    <div class="col-md-12">
        <div class="row">
            <div class="col-md-8">
                                    {% include "recommendation/raytunes_chart_and_form.html" %}

{#                <div class="kt-portlet">#}
{#                    <div class="kt-portlet__head">#}
{#                        <div class="kt-portlet__head-label">#}
{#                            <h3 class="kt-portlet__head-title"></h3>#}
{#                            <form id="start-form">#}
{#                                {% csrf_token %}#}
{#                                <button id="play" type="submit" class="play-btn"#}
                                        {#                   data-toggle="dropdown"#}
{#                                >#}
{#                                    <i class="mdi mdi-24px mdi-play"></i>#}
{#                                    <i style="display:none" class="mdi mdi-24px mdi-pause"></i>#}
{##}
{#                                </button>#}
{##}
{#                                <button id="reload" type="submit" class="reload-btn"#}
                                        {#                   data-toggle="dropdown"#}
{#                                >#}
{#                                    <i class="mdi mdi-24px mdi-reload"></i>#}
{#                                    <i style="display:none" class="mdi mdi-24px mdi-pause"></i>#}
{##}
{#                                </button>#}
{#                                <div id="start-button-right" style="display: inline;">#}
{#                                    <h6 id="start-button-right-text" style="display: inline;"></h6>#}
{#                                </div>#}
{#                            </form>#}
{#                        </div>#}
{#                        <div class="kt-portlet__head-toolbar">#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="kt-portlet__body" style="height:560px">#}
{#                        <div class="row">#}
{#                            <div class="col-md-9">#}
{#                                <div id="flaml-chart"></div>#}
{#                            </div>#}
{##}
{##}
{#                            <div class="form-group col-md-3">#}
{#                                <form class="form-group" id="ray_tune_settings_form"#}
{#                                      enctype="multipart/form-data">#}
{#                                    {% csrf_token %}#}
{#                                    {% for field in ray_tune_settings_form %}#}
{#                                        <div class="form-group">#}
{#                                            {% if field.field.widget.input_type == 'checkbox' %}#}
{#                                                {{ field.label_tag }}#}
{#                                                {% for v,e in field.field.widget.choices %}#}
{#                                                    <div class="checkbox">#}
{#                                                        <label class="kt-checkbox">#}
{#                                                            <input type="checkbox" name="{{ field.name }}"#}
{#                                                                   value="{{ v }}"#}
{#                                                                   checked="">#}
{#                                                            {{ e }}#}
{#                                                            <span></span>#}
{#                                                        </label>#}
{#                                                    </div>#}
{#                                                {% endfor %}#}
{#                                            {% else %}#}
{#                                                {{ field.label_tag }}#}
{#                                                {{ field }}#}
{#                                            {% endif %}#}
{#                                        </div>#}
{##}
{#                                    {% endfor %}#}
{#                                </form>#}
{#                            </div>#}
{##}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}

            </div>
            <div class="col-md-4">
                <div class="kt-portlet">
                    <div class="kt-portlet__head">
                        <div class="kt-portlet__head-label">
                            <h3 class="kt-portlet__head-title"> Parameter</h3>
                        </div>
                        <div class="kt-portlet__head-toolbar">
                        </div>
                    </div>
                    <div class="kt-portlet__body" style="height:560px">
                        <table id="parameterTable">
                            <thead>
                            <tr>
                                <th>Score</th>
                                <th>Estimator</th>
                                <th>Parameters</th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


    </div>
{% endblock %}