
body {
    padding-top: 0px;
}

#main-content {
    padding-top: 60px; /* adjust as necessary */
}

#content {
    height: calc(100vh - 110px); /* adjust as necessary */
    margin-bottom: 50px;
    overflow-y: auto;
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
