.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5); /* semi-transparent white */
}

.loading img {
  width: 50px; /* adjust the size of the loading icon as per your requirement */
  height: 50px;
}
