.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0); /* semi-transparent white */
}

.loading img {
  width: 200px; /* adjust the size of the loading icon as per your requirement */
  height: 200px;
}
