{#{% load static %}#}
{#<style>#}
{#    table td:hover {#}
{#        background-color: gray;#}
{#    }#}
{#</style>#}
{#<!--position:relative;top:20%;left:20%;-->#}
{#<button onclick="toggle_visibility('correlationMatrix');">Show/Hide Correlation Matrix</button>#}
{#<div id="correlationMatrix" style="display:none;">#}
{#    <p>Here is the correlation matrix for the data.</p>#}
{#    <div id="scroller" style="background-color:white;#}
{#        overflow: scroll; max-height: 300px">#}
{#       #}
{#        {{ correlation_html | safe }}#}
{##}
{#        <script>#}
            {#function fix_left_sroll(id) {#}
            {#    var leftOffset = parseInt($(id).css('left')); //Grab the left position left first#}
            {#    $(scroller).scroll(function () {#}
            {#        $(id).style.left = $(this).scrollLeft() + leftOffset#}
            {#    })#}
            {# }#}
{##}
            {#function fix_top_sroll(id) {#}
            {#    var topOffset = parseInt($(id).css('top'));#}
            {#    $(window).scroll(function () {#}
            {#        $(id).css({#}
            {#            'top': $(this).scrollTop() + topOffset#}
            {#        });#}
            {#    })#}
            {# }#}
{##}
            {#//modifiy first column of correlation_table#}
            {#$(document).ready(function () {#}
{#            let id = null#}
{#            var table = document.getElementById("correlation_table");#}
{#            var rows = table.getElementsByTagName("tr");#}
{#            for (i = 0; i < rows.length; i++) {#}
{#                var currentRow = table.rows[i];#}
{#                id = "row" + i;#}
{#                currentRow.cells[0].id = id;#}
{#                currentRow.cells[0].style.position = "sticky";#}
{#                currentRow.cells[0].style.top = "0px";#}
{#                currentRow.cells[0].style.left = "0px";#}
{#                currentRow.cells[0].style.backgroundColor = "grey";#}
{##}
{#            }#}
{#            var leftOffset = parseInt($(id).css('left'));#}
{#            $(window).scroll(function () {#}
{#                $(id).css({#}
{#                    'left': $(this).scrollLeft() + leftOffset#}
{#                });#}
{#            })#}
{##}
{#            //modifiy all elements in th  of correlation_table#}
{##}
{#            let head = table.getElementsByTagName("thead")[0]#}
{#            head.style.position = "sticky";#}
{#            head.id = "head";#}
{#            head.style.top = "0px";#}
{#            head.style.left = "0px";#}
{#            head.style.backgroundColor = "grey";#}
{#            //modify z index of head#}
{#            head.style.zIndex = "10";#}
{#            id = "head";#}
{#            var topOffset = parseInt($(id).css('top'));#}
{#            $(window).scroll(function () {#}
{#                $(id).css({#}
{#                    'top': $(this).scrollTop() + topOffset#}
{#                });#}
{#            })#}
{##}
{#        </script>#}
{#    </div>#}
{#    <button onclick="toggle_visibility('correlationMatrixFull');">Show Full Matrix</button>#}
{##}
{##}
{#</div>#}
{##}
{##}
{##}
{##}
