{% load static %}

<script src="{% static 'js/repBench/recommendation/flamlCharts.js' %}" type="text/javascript"></script>


<style>
    .kt-checkbox > span::after {
        border: solid green;
    }

    #start-button-right-text {
        color: gray;
    }
</style>

<style>
    #parameterTable {
        border-collapse: collapse;
        width: 100%;
    }

    #parameterTable th,
    #parameterTable td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    #parameterTable th {
        background-color: #f2f2f2;
        font-weight: bold;
    }

    #parameterTable .parameters-cell p {
        margin: 2px 0;
    }
</style>

<div class="row">
    <div class="col-md-8">
        <div class="kt-portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title"></h3>
                    <form id="start-flaml-form">
                        {% csrf_token %}
                        <button id="play" type="submit" class="play-btn"
                                {#                   data-toggle="dropdown"#}
                        >
                            <i class="mdi mdi-24px mdi-play"></i>
                            <i style="display:none" class="mdi mdi-24px mdi-pause"></i>

                        </button>

                        <button id="reload" type="submit" class="reload-btn"
                                {#                   data-toggle="dropdown"#}
                        >
                            <i class="mdi mdi-24px mdi-reload"></i>
                            <i style="display:none" class="mdi mdi-24px mdi-pause"></i>

                        </button>
                        {#                <button type="submit" class="btn btn-primary">Start Flaml</button>#}
                        <div id="start-button-right" style="display: inline;">
                            <h6 id="start-button-right-text" style="display: inline;"></h6>
                        </div>
                    </form>
                </div>
                <div class="kt-portlet__head-toolbar">

                    <select id="select_option" class="form-control" style="width:110px;background:#fbfeff">
                        <option value="flaml" selected>Flaml</option>
                        <option value="ray">RayTune</option>
                    </select>
                </div>
            </div>
            <div class="kt-portlet__body" style="height:560px">
                <div class="row">
                    <div class="col-md-9" id="flaml-chart"></div>
                    <div class="form-group col-md-3">
                        <form class="form-group" id="flaml_settings_form" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% for field in flaml_settings_form %}
                                <div class="form-group">
                                    {% if field.field.widget.input_type == 'checkbox' %}
                                        {{ field.label_tag }}
                                        {% for v,e in field.field.widget.choices %}
                                            <div class="checkbox">
                                                <label class="kt-checkbox">
                                                    <input type="checkbox" name="{{ field.name }}" value="{{ v }}"
                                                           checked="">
                                                    {{ e }}
                                                    <span></span>
                                                </label>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        {{ field.label_tag }}
                                        {{ field }}
                                    {% endif %}
                                </div>

                            {% endfor %}
                        </form>
                        <form class="form-group" id="ray_tune_settings_form" style="display:none"
                              enctype="multipart/form-data">
                            {% csrf_token %}
                            {% for field in ray_tune_settings_form %}
                                <div class="form-group">
                                    {% if field.field.widget.input_type == 'checkbox' %}
                                        {{ field.label_tag }}
                                        {% for v,e in field.field.widget.choices %}
                                            <div class="checkbox">
                                                <label class="kt-checkbox">
                                                    <input type="checkbox" name="{{ field.name }}" value="{{ v }}"
                                                           checked="">
                                                    {{ e }}
                                                    <span></span>
                                                </label>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        {{ field.label_tag }}
                                        {{ field }}
                                    {% endif %}
                                </div>

                            {% endfor %}
                        </form>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="col-md-4">
        <div class="kt-portlet">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title"> Parameter</h3>
                </div>
                <div class="kt-portlet__head-toolbar">
                </div>
            </div>
            <div class="kt-portlet__body" style="height:560px">
                <table id="parameterTable">
                    <thead>
                    <tr>
                        <th>Score</th>
                        <th>Estimator</th>
                        <th>Parameters</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('select_option').addEventListener('change', function () {
            document.getElementById('flaml_settings_form').style.display = (this.value == 'flaml' ? 'block' : 'none');
            document.getElementById('ray_tune_settings_form').style.display = (this.value == 'ray' ? 'block' : 'none');
        });
    });
</script>

<script>
    let flaml_response_data = []
    let flaml_response_iter = 0;
    let flaml_series = []
    let task_id = '{{ csrf_token}}'
    let playing = false
    let computing = false

    $(document).ready(function () {
        $('.play-btn').on('click', function (event) {
            // Prevent form submission if it's a submit button
            {#event.preventDefault();#}
            $(this).find('i').toggle();
            playing = !playing
        });

        $('#start-flaml-form').on('submit', function (event) {
            event.preventDefault();
            if (computing) {
                return;
            } else {
                computing = true;
                startTuning()
            }
        });

        $('#reload').on('click', function (event) {
            // Prevent form submission if it's a submit button
            event.preventDefault();
            if (computing) {
                startTuning()
            }

        });
    });


    function startTuning() {
        playing = false
        flaml_response_iter = 0;
        flaml_response_data = [];
        flaml_series = []

        let queryString = $('#flaml_settings_form').serialize();
        const params = new URLSearchParams(queryString);
        const estimatorList = params.getAll("estimator_list");
        queryString += '&estimator_list=' + estimatorList;

        flaml_response_iter = 0;


        let select = document.getElementById('select_option');
        let selectedOptionValue = select.value
        document.getElementById("start-button-right-text").innerHTML = "Starting " + selectedOptionValue;
        initFlamlChart([]);
        flamlChart.showLoading()
        $.ajax({
            type: 'POST',
            url: '{% url 'start_flaml' %}',
            data: $('#start-flaml-form').serialize() + '&'+$('#ray_tune_settings_form').serialize() + '&'+queryString + '&tuner=' + selectedOptionValue + '&task_id=' + task_id,
            success: function (response) {
                {#console.log(response);#}
                let estimators = response.automl_settings.estimator_list;
                // Display message that Flaml is running
                // Call function to retrieve Flaml results periodically
                // Create chart
                document.getElementById("start-button-right-text").innerHTML = "Starting " + selectedOptionValue + "..."

                getFlamlResults();
                flamlChart.hideLoading()
                playing = true

                const parameterNames = {
                    "RandomForest": ["n_estimators", "max_features", "max_leaf_nodes"],
                    "ExtraTrees": ["n_estimators", "max_features", "max_leaf_nodes"],
                    "LogisticRegression": ["C"],
                    {#"LRL1Classifier": ["C"],#}
                    "LGBM": ["n_estimators", "num_leaves", "learning_rate", "min_child_samples"],
                    "XGBoostSklearn": ["n_estimators", "max_depth", "learning_rate", "min_child_weight", "reg_alpha", "reg_lambda"]
                };
                parameterTable.init(parameterNames);
            },
            error: function (response) {
                console.log(response);
                {#alert('Error starting Flaml');#}
            }
        });

    }


    function getFlamlResults() {

        $.ajax({
            type: 'POST',
            url: '{% url 'retrieve_flaml_results' %}',
            data: $('#start-flaml-form').serialize() + '&task_id=' + task_id,
            success: function (response) {
                {#console.log("EYYY", response);#}
                if (response.status === 'running') {

                    flaml_response_data = response.data;
                    flamlChart.redraw();
                    setTimeout(function () {
                        getFlamlResults();  // Pass the task_id again in the recursive call
                    }, 1000);
                } else if (response.status === 'done') {
                    console.log("DONE");
                    playing = false
                    // Display message that Flaml is finished
                    // ...
                    getPrediction()

                }
            },
            error: function (response) {
                console.log(response);
                alert('Error retrieving Flaml results');
            }
        });
    }

    let intervalTimer = 800;


    const parameterTable = {
        tableId: "parameterTable",
        data: {},
        dataHistory: [],
        init: function (parameter_names) {
            this.data = {};
            this.dataHistory = [];
            const table = document.getElementById(this.tableId); // Get the table element by its ID
            table.innerHTML = ""; // Clear the table


            // Create a new row for the header
            const headerRow = document.createElement("tr");

            // Create and populate cells for the header row
            const scoreHeaderCell = document.createElement("th");
            scoreHeaderCell.textContent = "Score";
            headerRow.appendChild(scoreHeaderCell);

            const estimatorHeaderCell = document.createElement("th");
            estimatorHeaderCell.textContent = "Estimator";
            headerRow.appendChild(estimatorHeaderCell);

            const parametersHeaderCell = document.createElement("th");
            parametersHeaderCell.textContent = "Parameters";
            headerRow.appendChild(parametersHeaderCell);

            // Append the header row to the table
            table.appendChild(headerRow);

            // Iterate through the parameter_names and create rows for each estimator
            for (const [estimator, parameters] of Object.entries(parameter_names)) {
                const newRow = document.createElement("tr");
                newRow.setAttribute("data-estimator", estimator); // Set a custom attribute to identify the row

                // Create and populate cells for the estimator row
                const scoreCell = document.createElement("td");
                scoreCell.className = "score-cell";
                scoreCell.textContent = "-";
                newRow.appendChild(scoreCell);

                const estimatorCell = document.createElement("td");
                estimatorCell.textContent = estimator;
                newRow.appendChild(estimatorCell);

                const parametersCell = document.createElement("td");
                parametersCell.className = "parameters-cell";
                {#parametersCell.textContent = "-"; // Set "-" for parameters#}
                parameters.forEach(function (name) {
                    const parameterElement = document.createElement("p");
                    parameterElement.textContent = `${name}: -`;
                    parametersCell.appendChild(parameterElement);
                });
                newRow.appendChild(parametersCell);

                // Append the new row to the table
                table.appendChild(newRow);

                this.data[estimator] = {
                    score: "-",
                    parameters: "-"
                };
            }
        },

        addData: function (score, estimator, parameters) {
            this.dataHistory.push({
                score: score,
                estimator: estimator,
                parameters: parameters
            });
            this.showData(score, estimator, parameters);
        },
        showData: function (score, estimator, parameters) {
            if (this.data.hasOwnProperty(estimator)) {
                // If the estimator already exists, update its content
                this.data[estimator] = {
                    score: score,
                    parameters: parameters
                };

                const table = document.getElementById(this.tableId); // Get the table element by its ID
                const row = table.querySelector(`tr[data-estimator="${estimator}"]`); // Find the row with the matching estimator

                // Update the score and parameters cells for the existing row
                const scoreCell = row.querySelector(".score-cell");
                scoreCell.textContent = score;

                const parametersCell = row.querySelector(".parameters-cell");
                parametersCell.innerHTML = ""; // Clear the existing content

                // Iterate through the parameters and create a new <p> element for each parameter
                for (const [key, value] of Object.entries(parameters)) {
                    const parameterElement = document.createElement("p");
                    parameterElement.textContent = `${key}: ${value}`;
                    parametersCell.appendChild(parameterElement);
                }
            } else {
                // If the estimator doesn't exist, create a new entry
                this.data[estimator] = {
                    score: score,
                    parameters: parameters
                };

                const table = document.getElementById(this.tableId); // Get the table element by its ID

                // Create a new row for the data
                const newRow = document.createElement("tr");
                newRow.setAttribute("data-estimator", estimator); // Set a custom attribute to identify the row

                // Create and populate cells for the score, estimator, and parameters
                const scoreCell = document.createElement("td");
                scoreCell.className = "score-cell";
                scoreCell.textContent = score;
                newRow.appendChild(scoreCell);

                const estimatorCell = document.createElement("td");
                estimatorCell.textContent = estimator;
                newRow.appendChild(estimatorCell);

                const parametersCell = document.createElement("td");
                parametersCell.className = "parameters-cell";

                // Iterate through the parameters and create a new <p> element for each parameter
                for (const [key, value] of Object.entries(parameters)) {
                    const parameterElement = document.createElement("p");
                    parameterElement.textContent = `${key}: ${value}`;
                    parametersCell.appendChild(parameterElement);
                }

                newRow.appendChild(parametersCell);

                // Append the new row to the table
                table.appendChild(newRow);
            }
        },
        displayHistory:function (i){
            this.showData(this.dataHistory[i].score, this.dataHistory[i].estimator, this.dataHistory[i].parameters)
        }
    }


    function iterateData() {
        console.log("iterate")

        if (flaml_response_iter < flaml_response_data.length && playing) {
            let currentData = flaml_response_data[flaml_response_iter];
            console.log(currentData, "CURRENT DATA")

            let score = currentData.score;
            let roundedScore = Math.round(score * 1000) / 1000;
            let estimator = currentData.estimator
            let parameters = currentData.parameters
            document.getElementById("start-button-right-text").innerHTML = "Iter:" + flaml_response_iter + "| Estimator: " + estimator + " | Accuracy: " + roundedScore;

            flaml_response_iter = flaml_response_iter + 1;
            flaml_series.push({y: score, x: flaml_response_iter, name: estimator})
            flamlChart.addData(score, estimator, flaml_response_iter);
            parameterTable.addData(roundedScore, estimator, parameters);
            {#addDataToFlamlChart(score, currentData.estimator , 1);#}
        } else {
            if (playing) {
                console.log("Waiting for more data..." + flaml_response_iter);
            }
        }

        setTimeout(iterateData, intervalTimer);
    }

    iterateData();


    function getPrediction() {
        mainChart.showLoading()
        $.ajax({
            type: 'POST',
            url: '{% url 'get_flaml_recommendation' setname=setname %}',
            data: $('#start-flaml-form').serialize() + '&task_id=' + task_id,
            success: function (response) {
                console.log("EYYY", response);

                const repairs = response.alg_repairs
                const best_alg = response.recommended_algorithm[0]
                Object.entries(repairs).forEach(([repairs_key, repairs_values]) => {
                        Object.entries(repairs_values).forEach(([key, value]) => {
                            console.log(key, value)

                            value.legendIndex = repairs_key === best_alg ? -2 : -1
                            value.visible = repairs_key === best_alg
                            value.name = repairs_key === best_alg ? value.name + " (recommendation)" : value.name
                            chartManager.addSeries(value, true, "repair")
                        });
                    },
                );
                mainChart.hideLoading()
                createProbabilityChart(response.probabilities)
                createErrorChart(response.alg_scores)
            },
            error: function (response) {
                console.log(response);
                alert('Error retrieving Flaml prediction');
            }
        });
    }


</script>