


<div class="kt-portlet">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                {% block portlet-title %}
                {% endblock %}
            </h3>
        </div>
        <div class="kt-portlet__head-toolbar">
              {% block portlet-toolbar %}
                {% endblock %}
        </div>
    </div>
    <div class="kt-portlet__body">
        {% block portlet-body %}
        {% endblock %}
    </div>
</div>