{% extends "displayDataset/displayDatasetSynthetic.html" %}
{% load static %}

{#{% block graphbuttons %}#}
{#{% endblock %}#}

{% block content %}
    <h2>Parameterization</h2>
    <div style="display:None">

        {% include 'parts/MainChart.html' %}
        <!--end: Highcharts -->
    </div>

    <div class="row">
        <div class="col-lg-7 col-md-7 col-sm-9 col-xs-9">
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">

                        {#                         <a href="#" class="btn btn-outline-brand btn-icon btn-sm" data-toggle="dropdown"#}
                        {#                                   aria-haspopup="true" aria-expanded="false">#}
                        {#                                    <i class="mdi mdi-18px mdi-dots-horizontal"></i>#}
                        {#                                </a>#}

                        <a href="#" onclick="optimizeCurrentData('{{ alg }}form')" class="play-btn"
                           data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            <i class="mdi mdi-24px mdi-play"></i>
                        </a>

                        {#                        <input type="submit" class="btn btn-primary" onclick="optimizeCurrentData('{{ alg }}form')"#}
                        {#                               value="">#}
                        {#                        <h3 class="kt-portlet__head-title"> Optimization </h3>#}
                    </div>
                    {#                <div class="kt-portlet__head-toolbar">#}
                    {#                </div>#}

                    {#                <div class="kt-portlet__body kt-portlet__body--fit">#}
                    {#                </div>#}
                </div>
                {#             <div class="kt-portlet__body kt-portlet__body--fit">#}
                {##}
                {#             </div>#}
                <div class="kt-portlet__body">
                    <div id="optChartContainer"></div>
                </div>

            </div>
        </div>

        {#        <table id="myTable">#}
        {#            <thead>#}
        {#            </thead>#}
        {#            <tbody id="testBody"></tbody>#}
        {#        </table>#}

        <div class="col-lg-4">
            {#            <div class="kt-portlet">#}
            {#                <div class="kt-portlet__head">#}
            {#                    <div class="kt-portlet__head-label">#}
            {#                        <h3 class="kt-portlet__head-title"> Optimization </h3>#}
            {#                    </div>#}
            {#                    <div class="kt-portlet__head-toolbar">#}
            {#                    </div>#}
            {#                </div>#}
            {% include 'parts/bayesianOptForm.html' %}
            {#            </div>#}
        </div>
    </div>
    {% block blowChartContent %}

        {#        <div class="kt-portlet">#}
        {#            <div class="kt-portlet__head">#}
        {#                <div class="kt-portlet__head-label">#}
        {#                    <h3 class="kt-portlet__head-title"> Optimization </h3>#}
        {#                </div>#}
        {#                <div class="kt-portlet__head-toolbar">#}
        {#                </div>#}
        {#            </div>#}
        {#            <div class="kt-portlet__body kt-portlet__body--fit">#}
        {#                <h3>Dataset: {{ data_info.title }}</h3>#}
        {#                <a href="{{ data_info.ref_url }}"> {{ data_info.url_text }}</a>#}
        {#                <p>{{ data_info.description }}</p>#}
        {#                <p>Number of Values: {{ data_info.values }}</p>#}
        {#                <p>Number of Time Series: {{ data_info.ts_nbr }}</p>#}
        {#                <!-- pretty table displaying anomaly rates per time series -->#}
        {##}
        {#                {% if data_info.original_data_set is  not None %}#}
        {#                    Original Dataset:#}
        {#                    <a href="{% url 'display_dataset' setname=data_info.original_data_set %}">{{ data_info.original_data_set }}#}
        {#                    </a>#}
        {#                {% endif %}#}
        {#            </div>#}
        {#        </div>#}
        {#                <div class="kt-portlet__head-toolbar">#}
        {#                </div>#}

        {#                <div class="kt-portlet__body kt-portlet__body--fit">#}
        {#                </div>#}

        <!-- repair button that goes to repair page with this dataset -->
        <!-- style href> -->
        {#        <style>#}
        {#            .grey {#}
        {#                background: #5c5c62;#}
        {#            }#}
        {#        </style>#}

    {% endblock %}



    <script>
        // Javascript needed for all graph pages
        const dataTitle = '{{ data_info.title }}'
    </script>

    {#    {% block js %}#}
    {#        <script src='{% static "js/repBench/display/corr-table.js" %}'></script>#}
    {#        <script>#}
    {#            const categories = {{ columns | safe }};#}
    {#            const corr_data = {{ corr_data | safe }};#}
    {#            console.log('{{ setname | safe }}')#}
    {##}
    {#            initCorrTable(categories, corr_data, 'corr_container')#}
    {##}
    {#            /// add the sliders After the rest of the page has loaded#}
    {#        </script>#}
    {#    {% endblock %}#}
{% endblock %}


{% block additional_bottom_js %}
    <script type="text/javascript">
        let injection_url = "{% url 'inject_data' setname=setname %}"
        let repair_url = "{% url 'repair_data' setname=setname %}"
        let optimization_url = "{% url 'optimize_data' setname=setname %}"
        let fetch_opt_result = "{% url 'fetch_optresults' %}"
    </script>
    <script src="{% static 'js/repBench/repair/repair.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/repBench/optimization/optchart.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/repBench/optimization/optimization.js' %}" type="text/javascript"></script>

    {#          {% include 'parts/score-board.html' %}#}
{% endblock %}


{##}
{#{% block content %}#}
{#    <div class="row " style="display: none">#}
{#        <div class="col-md-9" style="position:relative;">#}
{#                {% include 'parts/MainChart.html' %}#}
{#                {% include 'parts/score-board.html' %}#}
{##}
{#        </div>#}
{#        <div id="chart-right" class="col-md-3">#}
{#            {% block first_form %}#}
{#                {% include 'parts/repairForm.html' %}#}
{#            {% endblock %}#}
{#        </div>#}
{#    </div>#}
{#    <script type="text/javascript">#}
{#        let injection_url = "{% url 'inject_data' setname=setname %}"#}
{#        let repair_url = "{% url 'repair_data' setname=setname %}"#}
{#        let store_url = "{% url 'store_data' setname=setname %}"#}
{#    </script>#}
{#    <script src="{% static 'js/repair.js' %}" type="text/javascript"></script>#}
{#    </div>#}
{##}
{#    <script>#}
{##}
{#{% endblock %}#}
