{% load static %}

<script src="{% static 'js/repBench/recommendation/flamlCharts.js' %}" type="text/javascript"></script>


<style>
    .kt-checkbox > span::after {
        border: solid green;
    }

    #start-button-right-text {
        color: gray;
    }
</style>

<div class="kt-portlet">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title"></h3>
            <form id="start-flaml-form">
                {% csrf_token %}
                <button id="play" type="submit" class="play-btn"
                        {#                   data-toggle="dropdown"#}
                >
                    <i class="mdi mdi-24px mdi-play"></i>
                    <i style="display:none" class="mdi mdi-24px mdi-pause"></i>

                </button>

                <button id="reload" type="submit" class="reload-btn"
                        {#                   data-toggle="dropdown"#}
                >
                    <i class="mdi mdi-24px mdi-reload"></i>
                    <i style="display:none" class="mdi mdi-24px mdi-pause"></i>

                </button>
                {#                <button type="submit" class="btn btn-primary">Start Flaml</button>#}
                <div id="start-button-right" style="display: inline;">
                    <h6 id="start-button-right-text" style="display: inline;"></h6>
                </div>
            </form>
        </div>
        <div class="kt-portlet__head-toolbar">

            <select id="select_option" class="form-control" style="width:110px;background:#fbfeff">
                <option value="flaml" selected>Flaml</option>
                <option value="ray">RayTune</option>
            </select>
        </div>
    </div>
    <div class="kt-portlet__body">
        <div class="row">
            <div class="col-md-9" id="flaml-chart"></div>
            <div class="form-group col-md-3">

                <form class="form-group" id="flaml_settings_form" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in flaml_settings_form %}
                        <div class="form-group">
                            {% if field.field.widget.input_type == 'checkbox' %}
                                {{ field.label_tag }}
                                {% for v,e in field.field.widget.choices %}
                                    <div class="checkbox">
                                        <label class="kt-checkbox">
                                            <input type="checkbox" name="{{ field.name }}" value="{{ v }}" checked="">
                                            {{ e }}
                                            <span></span>
                                        </label>
                                    </div>
                                {% endfor %}
                            {% else %}
                                {{ field.label_tag }}
                                {{ field }}
                            {% endif %}
                        </div>

                    {% endfor %}
                </form>
                <form class="form-group" id="ray_tune_settings_form" style="display:none" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for field in ray_tune_settings_form %}
                        <div class="form-group">
                            {% if field.field.widget.input_type == 'checkbox' %}
                                {{ field.label_tag }}
                                {% for v,e in field.field.widget.choices %}
                                    <div class="checkbox">
                                        <label class="kt-checkbox">
                                            <input type="checkbox" name="{{ field.name }}" value="{{ v }}" checked="">
                                            {{ e }}
                                            <span></span>
                                        </label>
                                    </div>
                                {% endfor %}
                            {% else %}
                                {{ field.label_tag }}
                                {{ field }}
                            {% endif %}
                        </div>

                    {% endfor %}
                </form>
            </div>

        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('select_option').addEventListener('change', function () {
            document.getElementById('flaml_settings_form').style.display = (this.value == 'flaml' ? 'block' : 'none');
            document.getElementById('ray_tune_settings_form').style.display = (this.value == 'ray' ? 'block' : 'none');
        });
    });
</script>

<script>
    let flaml_response_data = []
    let flaml_response_iter = 0;
    let flaml_series = []
    let task_id = '{{ csrf_token}}'
    let playing = false
    let computing = false

    $(document).ready(function () {
        $('.play-btn').on('click', function (event) {
            // Prevent form submission if it's a submit button
            {#event.preventDefault();#}
            $(this).find('i').toggle();
            playing = !playing
        });

        $('#start-flaml-form').on('submit', function (event) {
            event.preventDefault();
            if (computing) {
                return;
            } else {
                computing = true;
                startTuning()
            }
        });

        $('#reload').on('click', function (event) {
            // Prevent form submission if it's a submit button
            event.preventDefault();
            if (computing) {
                startTuning()
            }

        });
    });


    function startTuning() {
        playing = false
        flaml_response_iter = 0;
        flaml_response_data = [];
        flaml_series = []

        let queryString = $('#flaml_settings_form').serialize();
        const params = new URLSearchParams(queryString);
        const estimatorList = params.getAll("estimator_list");
        queryString += '&estimator_list=' + estimatorList;

        flaml_response_iter = 0;


        let select = document.getElementById('select_option');
        let selectedOptionValue = select.value
        document.getElementById("start-button-right-text").innerHTML = "Starting " + selectedOptionValue;
        initFlamlChart([]);
        flamlChart.showLoading()
        $.ajax({
            type: 'POST',
            url: '{% url 'start_flaml' %}',
            data: $('#start-flaml-form').serialize() + '&' + queryString + '&tuner=' + selectedOptionValue + '&task_id=' + task_id,
            success: function (response) {
                {#console.log(response);#}
                let estimators = response.automl_settings.estimator_list;
                // Display message that Flaml is running
                // Call function to retrieve Flaml results periodically
                // Create chart
                document.getElementById("start-button-right-text").innerHTML = "Starting " + selectedOptionValue + "..."

                getFlamlResults();
                flamlChart.hideLoading()
                playing = true
            },
            error: function (response) {
                console.log(response);
                {#alert('Error starting Flaml');#}
            }
        });

    }


    function getFlamlResults() {

        $.ajax({
            type: 'POST',
            url: '{% url 'retrieve_flaml_results' %}',
            data: $('#start-flaml-form').serialize() + '&task_id=' + task_id,
            success: function (response) {
                {#console.log("EYYY", response);#}
                if (response.status === 'running') {

                    flaml_response_data = response.data;
                    flamlChart.redraw();
                    setTimeout(function () {
                        getFlamlResults();  // Pass the task_id again in the recursive call
                    }, 1000);
                } else if (response.status === 'done') {
                    console.log("DONE");
                    playing = false
                    // Display message that Flaml is finished
                    // ...
                    getPrediction()

                }
            },
            error: function (response) {
                console.log(response);
                alert('Error retrieving Flaml results');
            }
        });
    }

    let intervalTimer = 800;

    function iterateData() {
        console.log("iterate")

        // Check if iterator is within bounds
        if (flaml_response_iter < flaml_response_data.length && playing) {
            // Perform the desired action with the data
            currentData = flaml_response_data[flaml_response_iter];
            let score = currentData.score;
            let roundedScore = Math.round(score * 1000) / 1000;
            let estimator = currentData.estimator
            document.getElementById("start-button-right-text").innerHTML = "Iter:" + flaml_response_iter + "| Estimator: " + estimator + " | Accuracy: " + roundedScore;

            // Move the iterator forward
            flaml_response_iter = flaml_response_iter + 1;
            flaml_series.push({y: score, x: flaml_response_iter, name: estimator})
            flamlChart.addData(score, estimator, flaml_response_iter);
            {#addDataToFlamlChart(score, currentData.estimator , 1);#}
        } else {
            // Wait until the data is long enough
            if (playing) {
                console.log("Waiting for more data..." + flaml_response_iter);
            }
        }

        setTimeout(iterateData, intervalTimer);
    }

    iterateData();


    function getPrediction() {
        mainChart.showLoading()
        $.ajax({
            type: 'POST',
            url: '{% url 'get_flaml_recommendation' setname=setname %}',
            data: $('#start-flaml-form').serialize() + '&task_id=' + task_id,
            success: function (response) {
                console.log("EYYY", response);

                const repairs = response.alg_repairs
                const best_alg = response.recommended_algorithm[0]
                Object.entries(repairs).forEach(([repairs_key, repairs_values]) => {
                        Object.entries(repairs_values).forEach(([key, value]) => {
                            console.log(key, value)

                            value.legendIndex = repairs_key === best_alg ? -2 : -1
                            value.visible = repairs_key === best_alg
                            value.name = repairs_key === best_alg ? value.name + " (recommendation)" : value.name
                            chartManager.addSeries(value, true, "repair")
                        });
                    },
                );
                mainChart.hideLoading()
                createProbabilityChart(response.probabilities)
                createErrorChart(response.alg_scores)
            },
            error: function (response) {
                console.log(response);
                alert('Error retrieving Flaml prediction');
            }
        });
    }


</script>