{% load static %}

<script src="{% static 'js/repBench/recommendation/flamlCharts.js' %}" type="text/javascript"></script>

<div class="kt-portlet">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title"></h3>
            <form id="start-flaml-form">
                {% csrf_token %}

                <button type="submit" class="btn btn-primary">Start Flaml</button>
                <div id="start-button-right" style="display: inline;">
                    <h6 id="start-button-right-text" style="display: inline;">OOO</h6>
                </div>
            </form>
        </div>
        <div class="kt-portlet__head-toolbar">
        </div>
    </div>
    <div class="kt-portlet__body">
        <div class="row">
            <div class="col-md-9" id="flaml-chart"></div>
            <form class="form-group col-md-3" id="flaml_settings_form" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in flaml_settings_form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                {% endfor %}
            </form>
        </div>
    </div>
</div>


<script>
    let flaml_response_data = []
    let flaml_response_iter = 0;


    $(document).ready(function () {


        $('#start-flaml-form').on('submit', function (event) {
            event.preventDefault();
            flaml_response_iter = 0;
            flaml_response_data = [];

            let queryString = $('#flaml_settings_form').serialize();
            const params = new URLSearchParams(queryString);
            const estimatorList = params.getAll("estimator_list");
            queryString += '&estimator_list=' + estimatorList;

            flaml_response_iter = 0;

            $.ajax({
                type: 'POST',
                url: '{% url 'start_flaml' %}',
                data: $('#start-flaml-form').serialize() + '&' + queryString,
                success: function (response) {
                    console.log(response);
                    let estimators = response.automl_settings.estimator_list;
                    // Display message that Flaml is running
                    $('#results-table').html('<p>Flaml is running. Please wait for results...</p>');
                    // Call function to retrieve Flaml results periodically

                    // Create chart
                    let task_id = response.task_id
                    initFlamlChart(estimators);
                    getFlamlResults(task_id);
                },
                error: function (response) {
                    console.log(response);
                    {#alert('Error starting Flaml');#}
                }
            });
        });
    });


    function getFlamlResults(task_id) {
        $.ajax({
            type: 'POST',
            url: '{% url 'retrieve_flaml_results' %}',
            data: $('#start-flaml-form').serialize() + '&task_id=' + task_id,
            success: function (response) {
                console.log("EYYY", response);
                if (response.status === 'running') {

                    flaml_response_data = response.data;
                    flamlChart.redraw();
                    setTimeout(function () {
                        getFlamlResults(task_id);  // Pass the task_id again in the recursive call
                    }, 1000);
                } else if (response.status === 'done') {
                    // Display message that Flaml is finished
                    // ...
                }
            },
            error: function (response) {
                console.log(response);
                alert('Error retrieving Flaml results');
            }
        });
    }
    let intervalTimer = 1000;
    function iterateData() {
        // Check if iterator is within bounds
        if (flaml_response_iter < flaml_response_data.length) {
            // Perform the desired action with the data
            currentData = flaml_response_data[flaml_response_iter];
            let score = currentData.score;
            let roundedScore = Math.round(score * 1000) / 1000;
            document.getElementById("start-button-right-text").innerHTML = currentData.estimator + "  score:" + roundedScore;
            // Move the iterator forward
            flaml_response_iter = flaml_response_iter + 1;
            flamlChart.series[0].addPoint(score);
            {#addDataToFlamlChart(score, currentData.estimator , 1);#}
        } else {
            // Wait until the data is long enough
            console.log("Waiting for more data..." + flaml_response_iter);
        }
       setTimeout(iterateData, intervalTimer);
    }
    iterateData();



</script>