{% load static %}

<script src="{% static 'js/lib/binarytransport/jquery.binarytransport.js' %}" type="text/javascript"></script>
{#    <script src="{% static 'js/lib/highcharts/highstock.js' %}" type="text/javascript"></script>#}
<script src="http://code.highcharts.com/stock/highstock.js"></script>
<script src="http://code.highcharts.com/maps/modules/map.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
{#    <script src="{% static 'js/custom/highchart   s.utils.js' %}" type="text/javascript"></script>#}
{#    <script src="{% static 'js/custom/highcharts.line.view.init.js' %}" type="text/javascript"></script>#}
{#    <script src="{% static 'js/custom/highcharts.actions.init.js' %}" type="text/javascript"></script>#}


<div id="highcharts_container_wrapper">
<div id="highcharts_container" class="full-height"></div>
</div>

<script>
    let datasetName = "{{ set_name }}";
    let chart_title = "{{ data_title }}"
    let data_url = '{% url data_fetch_url_name setname=setname  %}' + '?RepBenchWeb={{ RepBenchWeb|default_if_none:5 }}';
</script>
<script src="{% static 'js/custom/form.extensions.js' %}" type="text/javascript"></script>
<script src="{% static 'js/additionalSeriesManager.js' %}" type="text/javascript"></script>
<script src="{% static 'js/mainChart.js' %}" type="text/javascript"></script>
<script src="{% static 'js/export.js' %}" type="text/javascript"></script>
