{% load static %}
<style>
    .rs-tooltip-text {
        color: #000 !important;
        font-size: 20px !important;
        font-weight: 900 !important;
    }
</style>

<script src="{% static  'js/scoreboard.js' %} " type="text/javascript"></script>
<link href="{% static 'css/lib/roundslider/roundslider.min.css' %}" rel="stylesheet" type="text/css"/>
<script src="{% static 'js/lib/roundslider/roundslider.min.js' %}"></script>
<script src="{% static 'js/lib/roundslider/roundslider-init.js' %}"></script>

<style>
    .rs-title {
        font-size: 17px;
        font-weight: 900;
        z-index: 800;
    }

    .roundslider {
        width: 100px;
        height: 100px;
        margin: 5px;
        position: relative;
        z-index: 100;
    }
    .slider-container {
        justify-content: center;
        align-items: center;
    }
</style>


<div id="score_container" class="outer" style="position: relative">
    <div class="">
        <div class="slider-container row">
            <div id="RMSE-slider" class="roundslider normal"
                 title="RMSE">
            </div>
            <div id="MAE-slider" class="roundslider normal"
                 title="MAE">
            </div>
            <div id="RMSE-Anomaly-slider" class="roundslider normal"
                 title="RMSE on Anomaly">
            </div>
        </div>
    </div>
</div>

