<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="{% static 'form.css' %}">

<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <title id="title-id">Big Analytics</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/boost.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.3/js/bootstrap.js"></script>
</head>
<body>
<!-- Top Bar -->
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Big Analytics</a>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">Sign out</a>
        </li>
    </ul>
</nav>

<!-- Highcharts display -->
<!-- Chartjs libraries -->
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<div class="border" id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<!-- Injection and repair -->
<div id="repair">

    <div class="column">
{#        <div class="row">#}
{#            <button class="btn btn-secondary" id="dropdownMenuButton">#}
{#            Select Algorithm#}
{#        </button>#}
{#        </div>#}
{#        <div class="row">#}

        <form onSubmit="return false" id="injection_form" class="form-vertical">

            <div class="colw flex-column-l">
                {% csrf_token %}
                {{ injection_form }}
                <button id="injection_button">
                    Inject
                </button>
            </div>
        </form>
{#    </div>#}
</div>

    <div class="column">
        <div class="dropdown d-flex p-2">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                Select Algorithm
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for key, _ in forms.items %}
                    <a onclick="displayfunc('{{ key }}')" class="dropdown-item">{{ key }}</a>
                {% endfor %}
            </div>
        </div>

        {% for key, form in forms.items %}
            <form class="myform" style="display:none;" id={{ key }}>
                {{ form }}
                <button class="repair-button" type="button" onclick="repair('{{ key }}')">repair</button>
            </form>
        {% endfor %}
    </div>


    <div id="thatsreallywrong">
    </div>

</div>


<script>
    let lastkey = null
    let displayfunc = function (key) {
        var x = document.getElementById(key);
        if (key !== lastkey && lastkey != null) {
            document.getElementById(lastkey).style.display = "none";
        }
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
        lastkey = key
    }
</script>

<script>function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

const csrftoken = getCookie('csrftoken');
</script>

<script src="{% static  'js/scoreboard.js' %} " type="text/javascript"></script>
<script src="{% static  'js/highchartsInit.js' %} " fetchurl='{% url "get_data" %}' token='{{ csrf_token }}'
        type="text/javascript"></script>

<script type="text/javascript">
    let selectionButton = document.getElementById("injection_button")
    let injection_url = "{% url 'inject' %}"
    selectionButton.addEventListener("click", e => {
        e.stopPropagation()
        inject("injection_form", csrftoken, injection_url)
    })

    let repair_url = "{% url 'repair' %}"

    let repair = function (form_id) {
        repairCurrentData(form_id, csrftoken, repair_url)
    }

</script>


</body>
</html>
