{% extends "chartbase.html" %}
{% load static %}

{% block content %}
    <div class="row">

    <div class="col-md-3">
        {% include "sub/injectionForm.html" %}
    </div>
    <div class="col-md-3">
        {% include "sub/bayesianOptForm.html" %}
    </div>

    <div class="col-md-6" id = 'optscores-container'>
    </div>

    <table id="myTable" class="table .table-bordered  .table-hover">
          <thead>
          </thead>
      <tbody id="testBody"></tbody>
    </table>

    <script type="text/javascript">
        let injection_url = "{% url 'inject_data' setname=setname %}"
        let optimization_url = "{% url 'optimize_data' setname=setname %}"
    </script>

    <script src="{% static 'js/injection.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/optimization.js' %}" type="text/javascript"></script>

    <script>
        document.getElementById("injection_button").addEventListener("click", inject)
    </script>


{% endblock %}
