{#<div class="dropdown d-flex p-3">#}
{#    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"#}
{#            data-toggle="dropdown"#}
{#            aria-haspopup="true" aria-expanded="false">#}
{#        Select Algorithm#}
{#    </button>#}
{#    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">#}
{#        {% for key,params in b_opt_param_forms.items %}#}
{#            <a onclick="displayfuncOptForm('{{ key }}')" class="dropdown-item">{{ key }}</a>#}
{#        {% endfor %}#}
{#    </div>#}
{#</div>#}
{#aaa#}
{##}
{##}
{#<div class="accordion" id="seriesAccordion">#}
{#    <div class="card dropdown">#}
{#        <div class="card-header" id="headingOne">#}
{#            <h2 class="mb-0">#}
{#                <button class="btn dropdown-toggle collapsed" type="button" data-toggle="collapse"#}
{#                        data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne"#}
{#                        style="background: rgba(0,0,0,.075); height:35px">#}
{#                    <span>Show Algorithm Parameter Space<i class="fa fa-chevron-down"></i></span>#}
{#                </button>#}
{#            </h2>#}
{#        </div>#}
{#        <div id="collapseOne" class="collapse" aria-labelledby="headingOne"#}
{#             data-parent="#seriesAccordion" aria-expanded="false" style="height: 0px;">#}
{#            <div class="card-body" style="max-height: 450px; overflow-y: scroll;">#}
{#                <ul style="list-style: none;">#}
{#                    {% for alg,params in b_opt_param_forms.items %}#}
{#                        <form class="bayesian-opt-form" id='{{ alg }}' onSubmit="return false" style="display:none;">#}
{#                            {% for param in params %}#}
{#                                <label for="{{ param.param_name }}">{{ param.param_name }}</label>        <br>#}
{#                                min:<input type="text" id="{{ param.param_name }}"#}
{#                                           size=3 name="{{ param.param_name }}-min"#}
{#                                           pattern="[+-]?([0-9]*[.])?[0-9]+" title="Must be a float value"#}
{#                                           value={{ param.min }}>#}
{#                                max:<input type="text" id="{{ param.param_name }}"#}
{#                                           size="3" name="{{ param.param_name }}-max"#}
{#                                           pattern="[+-]?([0-9]*[.])?[0-9]+" title="Must be a float value"#}
{#                                           value="{{ param.max }}">#}
{##}
{#                            {% endfor %}#}
{#                            HAAAAAALO#}
{#                            <div>#}
{#                                <input type="hidden" name="alg_type" value="{{ alg }}">#}
{#                                {% for field in bayesian_opt_form %}#}
{#                                    <input type="hidden" name={{ field.label }} value="{{ field }}">#}
{#                                {% endfor %}#}
{#                            </div>#}
{#                            <input type="submit" onclick="bayesian_opt_form('{{ alg }}')">#}
{#                        </form>#}
{#                    {% endfor %}#}
{#                </ul>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{##}
{#</div>#}
{##}
{##}
{#<script>#}
{#    let lastkey = null#}
{#    let displayfuncOptForm = function (key) {#}
{#        var x = document.getElementById(key);#}
{#        if (key !== lastkey && lastkey != null) {#}
{#            document.getElementById(lastkey).style.display = "none";#}
{#        }#}
{#        if (x.style.display === "none") {#}
{#            x.style.display = "block";#}
{#        } else {#}
{#            x.style.display = "none";#}
{#        }#}
{#        lastkey = key#}
{#    }#}
{#</script>#}
{##}
