<div class="kt-portlet__body">
    <div class="form-group ">
        <label>Algorithm<a tabindex="10" class="btn" role="button" data-toggle="kt-popover" data-placement="top"
                           data-trigger="focus"
                           data-content="Select Algorithm to perform Bayesian Optimization"
                           data-original-title="" title=""><i
                class="mdi mdi-information-outline mdi-18px"></i></a></label>
        <select class="form-control custom-select " id="optFormAlgSelect" name="algorithm" onchange="displayfuncOpt(value)">
            <option value="" selected="">----</option>
            {% for key, _ in b_opt_param_forms.items %}
                <option value={{ key }}> {{ key }}</option>
            {% endfor %}
        </select>
        {% include "sub/accordion/accordionBefore.html"  with button_text="Show Parameter Space" c="One" %}
        <div>
            {% for alg,params in b_opt_param_forms.items %}
                <form class="kt-form" enctype="multipart/form-data" id='{{ alg }}'
                      onchange="return false"
                      onsubmit="return false" style="display:none;">
                    {% for param in params %}
                        <div class="kt-portlet__body{% if class %} {{ class }}{% endif %}">

                            <label for="{{ param.param_name }}">{{ param.param_name }}</label></th>
                            <table class="table kt-visible-tablet-inline-block}">
                                <tr>
                                    <td>min</td>
                                    <td>max</td>
                                </tr>
                                <tr>
                                    <td><input type="text" id="{{ param.param_name }}"
                                               size=3 name="{{ param.param_name }}-min"
                                               pattern="[+-]?([0-9]*[.])?[0-9]+"
                                               title="Must be a float value"
                                               value={{ param.min }}
                                                       class="form-control"></td>
                                    <td><input type="text" id="{{ param.param_name }}"
                                               size="3" name="{{ param.param_name }}-max"
                                               pattern="[+-]?([0-9]*[.])?[0-9]+"
                                               title="Must be a float value"
                                               value="{{ param.max }}"
                                               class="form-control"></td>
                                </tr>
                            </table>
                        </div>
                    {% endfor %}

                    <input type="hidden" name="alg_type" value="{{ alg }}">
                </form>
            {% endfor %}

        </div>


    </div>
    {% include "sub/accordion/accordionBefore.html"  with button_text="Show Bayesian Opt Parameters" c="Two" %}
    <form class="form" id="bayesian_opt_form_params">
        {{ bayesian_opt_form.as_p }}
    </form>
    <input type="submit" onclick="optimizeCurrentData('{{ alg }}form')">

</div>

<script>
    let lastkeyopt = null
    let displayfuncOpt = function (key) {
        console.log(key)
        var x = document.getElementById(key);
        if (key !== lastkeyopt && lastkeyopt != null) {
            document.getElementById(lastkeyopt).style.display = "none";
        }
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
        lastkeyopt = key
    }
</script>
