{% load static %}
{% load filters %}

<style>
    .rs-tooltip-text {
        font-size: 12px;
        color: #0f0f16;
        font-weight: 900;
    }

    .rs-wrapper {
        display: grid;
        grid-template-columns: repeat(22, 200px);
    }

    .slider-container {
        max-height: 500px;
        overflow-y: scroll;
    }

    .center {
        display: flex;
        justify-content: center;
    }
</style>

<script>
    const step = 600
    const total_scroll = 22 * 200
    const scroll_right = function (id) {
        let s_left = document.getElementById(id).scrollLeft
        document.getElementById(id).scrollLeft += step
    };
    const scroll_left = function (id) {
        document.getElementById(id).scrollLeft -= step;
    };
</script>

<div class="slider-container">
    {% for ts,features in catch22.items %}
        <div class="{{ ts }}-bounded">
            <div class="center">
                Timeseries: {{ ts }}
            </div>
            <div style="position:relative;padding-left: 30px;padding-right: 30px">
                <div id="{{ ts }}-sliders" class="rs-wrapper"
                     style="overflow-x: hidden;max-height: 250px;overflow-y:hidden;">
                    {% with outer_counter=forloop.counter %}
                        {% for name,value in features.items %}
                            <div id="roundslider_{{ outer_counter }}_{{ name }}" class="roundslider normal"
                                 title="{{ name|c22_abr }}" content="aaaaa" data-popup="aaaa" aria-haspopup="asdsadad">
                            </div>
                        {% endfor %}
                    {% endwith %}
                </div>
                <p onclick="scroll_right('{{ ts }}-sliders')"><i
                        class="arrow right"></i>
                </p>
                <p onclick="scroll_left('{{ ts }}-sliders')"><i
                        class="arrow left"></i>
                </p>
            </div>
        </div>
    {% endfor %}
</div>

<style>
    html {
        scroll-behavior: smooth;
    }

    .arrow {
        position: absolute;
        top: 50%;
        border: solid black;
        border-width: 0 5px 5px 0;
        display: inline-block;
        padding: 3px;
        margin: 1px 1px 1px 1px;
        z-index: 10000;
    }

    .arrow:hover {
        cursor: pointer;

    }

    .right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        right: 1%;
    }

    .left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        left: 1%;

    }

    .up {
        transform: rotate(-135deg);
        -webkit-transform: rotate(-135deg);
    }

    .down {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    }
</style>

<script>
    RoundSliders.init(3)
    let round_id = null
</script>
{% for ts,features in catch22.items %}
    {% with outer_counter=forloop.counter %}
        {% for name,value in features.items %}
            <script>
                round_id = "roundslider_{{ outer_counter }}_{{name}}"
                RoundSliders.updateValue("#" + round_id, {{ value.value }}, {{ value.min }}, {{ value.max }})
                document.getElementById(round_id).title = "{{ name|c22_description }}"//+{{ name }}"
            </script>
        {% endfor %}
    {% endwith %}
{% endfor %}
