<style>
    .graph-button {
        font-size: 12px;
        font-weight: bolder;
        padding-top: 4px;
        padding-bottom: 4px;
    }
    .before-button-text {
        font-size: 12px;
        font-weight: bolder;
        padding-top: 5px;
        padding-right: 5px;
    }
    .linkButton {
        font-size: 13px;
        background: none !important;
        border: none;
        padding: 5px !important;
        cursor: pointer;
    }
    .dropdown-menu {
    {#width: 94px !important;#} min-width: 0px !important;
        padding: 0px !important;
    }
</style>
<div class="row"
     style="position:absolute;right:0%;top:0%;z-index:1;padding-right: 20px;padding-bottom: 10px;padding-top: 10px">
    <div class="before-button-text">Data:</div>
    <button id="rawButton" type="button" class="btn-sm btn btn-default graph-button active">Raw</button>
    <button id="zButton" type="button" class="btn btn-default btn-sm graph-button">Z-Score</button>

    <div class="before-button-text" style="width:15px"></div>


    <div class="dropdown">
        <button class="btn-sm btn btn-default graph-button dropdown-toggle" type="button"
                data-toggle="dropdown">
            Export
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li>
                <button id="exportOriginalData" class="linkButton btn-default graph-button">Original Data</button>
            </li>
            <li>
                <button id="exportInjectedData" class="linkButton  btn-default graph-button">Injected Data</button>
            </li>
        </ul>
    </div>
    <button id="hideMenu" class="btn btn-default btn-sm graph-button">
        <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    </button>

    <button id="showMenu" class="btn btn-default btn-sm graph-button" style="display: none;">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
    </button>
</div>

<script>
    $('#hideMenu').click(function () {
        $('#chart').removeClass('col-md-9').addClass('col-md-12');
        $('#menu').removeClass('col-md-3').addClass('hidden');
        $('#hideMenu').hide();
        $('#showMenu').show();
        $('#highcharts_container').highcharts().reflow();
    });

    $('#showMenu').click(function () {
        $('#chart').removeClass('col-md-12').addClass('col-md-9');
        $('#menu').removeClass('hidden').addClass('col-md-3');
        $('#showMenu').hide();
        $('#hideMenu').show();
        $('#highcharts_container').highcharts().reflow();
    });
</script>
