

<div class="move-after-accordion">
<div class="accordion" id="seriesAccordion2 ">
    <div class="card dropdown">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn dropdown-toggle collapsed" type="button" data-toggle="collapse"
                        data-target="#collapse{{ c }}" aria-expanded="false" aria-controls="collapse{{ c }}"
                        style="background: rgba(0,0,0,.075); height:35px">
                    <span>{{ button_text }}<i class="fa fa-chevron-down"></i></span>
                </button>
            </h2>
        </div>
        <div id="collapse{{ c }}" class="collapse" aria-labelledby="headingOne"
             data-parent="#seriesAccordion" aria-expanded="false" style="height: 0px;">
            <div class="card-body" style="max-height: 450px; overflow-y: scroll;">
                <ul id="move-in" style="list-style: block;">
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
